*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
.home{
    position: relative;
    height: 300vh;
}
.html{
   height: 100px;
   width: 100px;
   position: absolute;
   top : 50% ;
   left: 50%;



}
.css{
    height: 100px;
   width: 100px;
   position: absolute;
   top : 30% ;
   left: 70%;

}
.php{
    height: 100px;
   width: 100px;
   position: absolute;
   top:40%;
   left: 60;

}
.laravel{
    height: 100px;
   width: 100px;
   position: absolute;
   top: 20% ;
   left : 10%;
}
.js{
     height: 100px;
   width: 100px;
   position: absolute;
   top: 70% ;
   left : 80%;
}
.container{
    position: sticky;
    top: 0;
    left: 0;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    width: 100%;
 
    height: 100vh;
    display: flex;
    align-items: center;
    place-items: center;
}
.container > span{
    margin-left: 20%;
    width: 200px;
    height: 50px;
    font-size: 3rem;

}
.con-left{
    display: inline;
    height: 100vh;
    width: 40%;
    background: #000;

}
.con-right{
    display: inline;
    background: blue;
    height: 100vh;
    height: 50%;
}
.about{
    height: 100vh;
    background: blue;

}
main{
  position: relative;
    height: 100vh;
    width: 100%;

    display: block;
  
    
    

}

.div{
    position: absolute;
    top : 130% ;
    right: 0;
    background: orange;
    
  height: 50px;
  width: 170px;
}
@media (max-width : 768px) {
    .div{
    position: absolute;
    top : 110% ;
    right: 0;
    background: orange;
    
  height: 50px;
  width: 170px;
}
}

.Ht{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: #000;
    height: 50px;
    transform: translateX(-20px);
    

    color: white;
    width: 70px;
}
.fl{

   top: 10%;
    left: 30%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: 30deg;
    width: 5px;
}
.sl{
    top: 40%;
    left: 30%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: -30deg;
    width: 5px;
}
.fle{
    top: 10%;
    left: 40%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: -30deg;
    width: 5px;
}
.sle{
    top: 40%;
    left: 40%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: 30deg;
    width: 5px;
}
.fl2{
    top: 10%;
    left: 50%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: 30deg;
    width: 5px;
}
.sl2{
    top: 40%;
    left: 50%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: -30deg;
    width: 5px;
}
.fle2{
    top: 10%;
    left: 65%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: -30deg;
    width: 5px;
}
.sle2{
    top: 40%;
    left: 65%;
    position: absolute;
    background: #000;
    height: 20px;
    rotate: 30deg;
    width: 5px;
}

.sls{

    top: 0%;
    left: 58%;
    position: absolute;
    background: #000;
    height: 50px;
    rotate: 25deg;
    width: 3px;
}

.footer{
    height: 100vh;
}
.containr {
  height: 100vh;
  padding: 50px;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.dropzone {
  width: 200px;
  height: 200px;
  border: 3px dashed #333;
  margin-top: 200px;
}
